# Node modules
node_modules/

# TypeScript build output
dist/

# Environment variables
.env

# Logs
logs
*.log

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Other files
*.swp
*.swo

# Uploads
uploads/